<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
<h1>Add item to order page!</h1>
<body>
<form action="#" th:action="@{/items/add-item-to-order}" method="post">
    <table border="1" cellpadding="5" cellspacing="2">
        <tr>
            <th>name</th>
            <th>price</th>
            <th>description</th>
        </tr>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.description}"></td>
        <tbody>
        <tr>
            <td>Count</td>
            <td>
                <label>
                    <input minlength="1" maxlength="3" type="text" name="count" placeholder="1"/>
                    <input type="hidden" th:field="*{item.id}">
                </label></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Order!"/>
                <input type="reset" value="Reset"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>