<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
<h1>Add item to order page!</h1>
<body>
<form action="#" th:action="@{/items/add-item-to-order}" th:object="${itemCountDTO}" method="post">
    <table border="1" cellpadding="5" cellspacing="2">
        <tr>
            <td><b>Count of items:</b><br>
                <td>

                <label>
                    <input type="number" th:field="*{itemCount}">
                    <input type="hidden" th:field="*{itemId}">
                </label></td>
            <td th:if="${#fields.hasErrors('itemCount')}" th:errors="*{itemCount}">Name Error</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Order!"/>
                <input type="reset" value="Reset"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>