<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<h1>List of articles</h1>
<form th:action="@{/articles/get}">
    <table border="1">
        <tr>
            <th>date</th>
            <th>name</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>summary</th>
            <th>link</th>
        </tr>
        <tr th:each="article:${articlePage.articles}">
            <td th:text="${article.date}"></td>
            <td th:text="${article.name}"></td>
            <td th:text="${article.firstName}"></td>
            <td th:text="${article.lastName}"></td>
            <td th:text="${article.summary}"></td>
            <td>
                <a th:href="@{/articles/show-article-by-id/(id=${article.id})}"><span>More details</span></a>
            </td>
            <td th:if="${email == 'sale@gmail.com'}">
                <a th:href="@{/articles/delete-article-by-id/(id=${article.id})}"><span>Delete this article</span></a>
            </td>
        </tr>
    </table>
    <td th:if="${articlePage.pagesCount gt 0}"
        th:each="pageNumber : ${articlePage.numbersOfPages}">
        <a th:href="@{'/articles/get?page=' + ${pageNumber}}"
           th:text="${pageNumber}"
           th:name="page" th:value="${pageNumber}"> </a>
    </td>
</form>
<br>
<td th:if="${email == 'sale@gmail.com'}">
    <button onclick="window.location.href='/articles/add'">Click to add new article!</button>
</td>
<button onclick="window.location.href='/logout'">Click to Log out!</button>
</body>
</html>
