<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Article page</title>
</head>
<h1>Full article</h1>
<body>
<form action="#" th:action="@{/articles/show-article-by-id}" method="post">
    <table border="1">
        <tr>
            <th>date</th>
            <th>name</th>
            <th>article</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>link</th>
        </tr>
        <td th:text="${article.date}"></td>
        <td th:text="${article.name}"></td>
        <td th:text="${article.articleBody}"></td>
        <td th:text="${article.firstName}"></td>
        <td th:text="${article.lastName}"></td>
        <td th:if="${email == 'sale@gmail.com'}">
            <a th:href="@{/articles/update/{id}(id=${article.id})}"><span>Update article</span></a>
        </td>
    </table>
    <br>
    <h2>Actual comments for this article</h2>
    <table border="1">
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>date</th>
            <th>comment</th>
        </tr>
        <tr th:each="comment:${comments}">
            <td th:text="${comment.firstName}"></td>
            <td th:text="${comment.lastName}"></td>
            <td th:text="${comment.date}"></td>
            <td th:text="${comment.commentBody}"></td>
            <td th:if="${email == 'sale@gmail.com'}">
                <a th:href="@{/articles/delete-comment/(id=${comment.id})}"><span>Delete comment</span></a>
            </td>
        </tr>
    </table>
    <tr>
        <br>
        <td>
            <a th:href="@{/articles/get}">Back!</a>
        </td>
    </tr>
</form>
</body>
</html>