<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Item page</title>
</head>
<h1>Item information</h1>
<body>
<form action="#" th:action="@{/items/show-item-by-id}" method="post">
    <table border="1">
        <tr>
            <th>name</th>
            <th>unique number</th>
            <th>price</th>
            <th>description</th>
        </tr>
        <td th:text="${item.name}"></td>
        <td th:text="${item.uuid}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.description}"></td>
    </table>
    <tr>
        <br>
        <td>
            <a th:href="@{/items/get}">Back!</a>
        </td>
    </tr>
</form>
</body>
</html>