<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>List of users</h1>
<div sec:authorize="isAuthenticated()">
    You are authenticated as <span sec:authentication="name"></span></div>
<form action="#" th:action="@{/users/remove}" method="post">
    <table border="1">
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>patronymic</th>
            <th>email</th>
            <th>role</th>
            <th>update</th>
            <th>to delete</th>
        </tr>
        <tr th:each="user:${userPage.users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.patronymic}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a th:if="${user.username} != ${#authorization.getAuthentication().name}"
                   th:href="@{/users/update-role/{id}(id=${user.id})}"><span>ROLE</span></a>
                <a th:href="@{/users/update-password/{id}(id=${user.id})}"><span>PASSWORD</span></a>
            </td>
            <td th:if="${user.username} != ${#authorization.getAuthentication().name}">
                <label>
                    <label>
                        <input type="checkbox" th:name="selectedUsers" th:value="*{user.id}"/>
                    </label>
                </label>
            </td>
        </tr>
    </table>
    <td th:if="${userPage.pagesCount gt 0}"
        th:each="pageNumber : ${userPage.numbersOfPages}">
        <a th:href="@{'/users/get?page=' + ${pageNumber}}"
           th:text="${pageNumber}"
           th:name="page" th:value="${pageNumber}"> </a>
    </td>
    <tr>
        <br>
        <td>
            <button type="submit">Delete!</button>
        </td>
    </tr>
</form>
<br>
<div>
<button onclick="window.location.href='/users/add'">Click to register new user!</button>
<button onclick="window.location.href='/logout'">Click to Log out!</button>
</div>
</body>
</html>
