<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<h1>List of reviews</h1>
<div sec:authorize="isAuthenticated()">
    You are authenticated as <span sec:authentication="name"></span></div>
<form th:action="@{/reviews/change}" method="post">
    <table border="1">
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>patronymic</th>
            <th>review</th>
            <th>date</th>
            <th>show?</th>
            <th>to delete</th>
        </tr>
        <tr th:each="review:${reviewPage.reviews}">
            <td th:text="${review.firstName}"></td>
            <td th:text="${review.lastName}"></td>
            <td th:text="${review.patronymic}"></td>
            <td th:text="${review.reviewBody}"></td>
            <td th:text="${review.date}"></td>
            <td>
                <label>
                    <label>
                        <input type="checkbox" th:name="selectedReviews" th:value="${review.id}"
                               th:checked="${review.isVisible eq true}"/>
                        <input type="hidden" th:name="allIds" th:value="${review.id}"/>
                    </label>
                </label>
            </td>
            <td>
                <a th:href="@{/reviews/remove/{id}(id=${review.id})}"><span>Delete</span></a>
            </td>
        </tr>
    </table>
    <td th:if="${reviewPage.pagesCount gt 0}"
        th:each="pageNumber : ${reviewPage.numbersOfPages}">
        <a th:href="@{'/reviews/get?page=' + ${pageNumber}}"
           th:text="${pageNumber}"
           th:name="page" th:value="${pageNumber}"> </a>
    </td>
    <tr>
        <br>
        <td>
            <button type="submit">Change visibility!</button>
        </td>
    </tr>
</form>
<br>
</body>
</html>
