<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<h1>Login page!</h1>
<body>
<form method="post" action="#" th:action="@{/login}">
    <table border="1" cellpadding="5" cellspacing="2">
        <thead>
        <tr>
            <th colspan="2">Login please!</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Email</td>
            <td><label>
                <input minlength="3" maxlength="20" type="text" name="username" required/>
            </label></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><label>
                <input minlength="3" maxlength="20" type="password" name="password" required/>
            </label></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login!"/>
                <input type="reset" value="Reset"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>