<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<form method="post" class="container-sm" action="#" th:action="@{/login}">
    <h2>Login please!</h2>
    <div class="col">
        <div class="col-sm-2">
            <label for="username" class="form-label"><b>Email:</b></label>
            <input type="email" minlength="3" maxlength="20" name="username" id="username" required
                   placeholder="name@gmail.com" class="form-control input-sm">
        </div>
        <div class="col-sm-2">
            <label for="pw" class="form-label"><b>Password:</b></label>
            <input type="password" minlength="3" maxlength="20" name="password" id="pw" required
                   placeholder="password" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
</form>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>