<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update profile page</title>
</head>
<h1>Profile</h1>
<body>
<form action="#" th:action="@{/profiles/update}" th:object="${userProfileDTO}" method="post">
    <table>
        <tr>
            <td><b>Enter first name:</b><br>
                <label>
                    <input type="text" th:field="*{firstName}" th:placeholder="*{firstName}">
                </label></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
        </tr>
        <tr>
            <td><b>Enter last name:</b><br>
                <label>
                    <input type="text" th:field="*{lastName}" th:placeholder="*{lastName}">
                </label></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error
            </td>
        </tr>
        <tr>
            <td><b>Enter address:</b><br>
                <label>
                    <input type="text" th:field="*{address}" th:placeholder="*{address}">
                </label></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</td>
        </tr>
        <tr>
            <td><b>Enter email:</b><br>
                <label>
                    <input type="text" th:field="*{telephone}" th:placeholder="*{telephone}">
                </label></td>
            <td th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Name Error</td>
        </tr>
        <td>
            <label>
                <input type="hidden" th:field="*{id}">
            </label>
        </td>
        <tr>
            <td>
                <button type="submit">Update!</button>
            </td>
            <td>
                <a th:href="@{/profiles/update-password/{id}(id=${id})}"><span>Generate new password</span></a>
            </td>
        </tr>
    </table>
    <tr>
        <br>
        <td>
            <a th:href="@{/profiles/get}">Back!</a>
        </td>
    </tr>
</form>
</body>
</html>