<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update profile page</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<form class="container-fluid" action="#" th:action="@{/profiles/update}" th:object="${userProfileDTO}" method="post">
    <h3>Update profile page</h3>
    <div class="col-sm-2">
        <label for="firstName" class="form-label">Enter first name:</label>
        <input type="text" th:field="*{firstName}" id="firstName" th:placeholder="*{firstName}"
               class="form-control">
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
    </div>
    <div class="col-sm-2">
        <label for="lastName" class="form-label">Enter last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName" th:placeholder="*{lastName}" class="form-control">
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
    </div>
    <div class="col-sm-2">
        <label for="address" class="form-label">Enter address:</label>
        <input type="text" th:field="*{address}" id="address" th:placeholder="*{address}" class="form-control">
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</div>
    </div>
    <div class="col-sm-2">
        <label for="telephone" class="form-label">Enter telephone:</label>
        <input type="text" th:field="*{telephone}" id="telephone" th:placeholder="*{telephone}"
               class="form-control">
        <div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Name Error</div>
    </div>
    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-primary" href="#" th:href="@{/profiles/update-password/{id}(id=${id})}" role="button">New
        password</a>
    <button type="button" onclick="goBack()" class="btn btn-primary">Go Back</button>
</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>