<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Exception page</title>
</head>
<body>
<h1>User with this email is already exist!</h1>
<div sec:authorize="isAuthenticated()">
    You are authenticated as: <span sec:authentication="name"></span>
    <p><span th:text="${exception}">Error</span></p></div>
<br>
<button onclick="goBack()">Go Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>